<div class="row renglon">
  <div class="col-md-4">
    <div class="cuadro-busqueda">
      <form (ngSubmit)="enviar()" class="formulario">
        <div class="row">
          <div class="col-md-12">
            <input class="form-control form-control-lg" type="text" placeholder="Haz una Búsqueda" name="texto" [(ngModel)]="termino">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn rosa-liverpool texto-blanco btn-lg btn-block">Buscar</button>
          </div>
        </div>
      </form>
    </div>

    <div class="lista" *ngIf="busquedas">
      <h4 class="animated fadeIn">Búsquedas recientes</h4>
      <div class="row">
        <div class="col-md-12">
          <p *ngFor="let item of items" class="animated bounceInLeft">{{item}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7 derecho" *ngIf="termino; else limpiar()">
    <br>
    <div [class]="fade">
      <div class="row">
        <div class="col-md-12 animated fadeIn">
          <h1>Productos con las palabras: "{{termino}}"</h1>
          <hr>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="card-columns" *ngIf="productos != null">
      <div class="card animated bounceInUp" *ngFor="let p of productos">
        <img class="card-img-top animated fadeIn" src="{{ p.attributes['product.largeImage'][0] }}" alt="Imagen">
        <div class="card-body">
          <h4 class="card-title">{{ p.attributes['product.displayName'][0] }}</h4>
        </div>
        <div class="card-footer">
          <p class="text-muted">$ {{ p.attributes['sku.list_Price'][0] }}</p>
        </div>
      </div>
    </div>
  </div>

</div>
