/* You can add global styles to this file, and also import other style files */
body{
  background-color: rgb(248, 248, 248);
}

.rosa-liverpool{
  background-color: #e10098;
}

.texto-blanco{
  color: #fff;
}

.cuadro-busqueda{
  width: 100%;
  height: 150px;
  top: 40px;
  position: relative;
  background-color: rgb(230, 230, 230);
  padding: 20px;
  margin: 20px;
  box-shadow: 5px 5px 5px rgb(175, 175, 175);
}

.formulario{
  width: 100;
  height: 100%;
}

.renglon{
  width: 100%;
}

.derecho{
  margin-left: 30px;
}

.contenedor-derecho{
  position: abs;
  right: 0;
  width: 70%;
  height: auto;
  margin: 20px;
  padding: 20px;
}

.cuadro-izquierdo{
  width: 25%;
}

app-cuadro-busqueda{
  width:100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.lista{
  position: relative;
  width: 100%;
  margin: 20px;
  padding: 20px;
  top: 60px;
  /* background-color: red; */
  min-height: 10px;
}
